name: Build and Deploy to GitOps

on:
  push:
    branches: [ "main" ]

jobs:
  build-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          IMAGE_TAG=v${{ github.run_number }}
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV
          docker build -t robinyaghi/ecom-gitops:$IMAGE_TAG .

      - name: Push Docker image
        run: docker push robinyaghi/ecom-gitops:${{ env.IMAGE_TAG }}

      - name: Checkout GitOps repo
        uses: actions/checkout@v3
        with:
          repository: ${{ secrets.GITOPS_REPO }}
          token: ${{ secrets.GITOPS_TOKEN }}
          path: gitops

      - name: Update image tag in GitOps values.yaml
        run: |
          cd gitops/simple-site-chart
          sed -i "s/tag:.*/tag: ${{ env.IMAGE_TAG }}/" values.yaml

      - name: Commit & push GitOps update
        run: |
          cd gitops
          git config user.email "actions@github.com"
          git config user.name "GitHub Actions"
          git add .
          git commit -m "Auto deploy image ${{ env.IMAGE_TAG }}"
          git push
